@{ Layout = "~/Views/Shared/_LayoutCustomer.cshtml"; }

 
<div class="container">


    <iframe src='https://webchat.botframework.com/embed/eventbot-9bdc-bot?s=-NFvU2WPPx8.Kk-FaV82Hx3g4w21vnEIwjkZhC4I2b0RsH6FoAvat-Y'
            style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>

 