@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard</title>
    <!-- Bootstrap core CSS -->
    @*<link href="~/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@

   
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/theme/assets/css/fontawesome.css">
    @*Spice link*@
    <link href="~/Spice/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Spice/themes/css/main.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Spice/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/Spice/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/Spice/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">


    <link rel="stylesheet" href="~/Spice/css/site.css" type="text/css" />
    <link type="text/css" rel="stylesheet" href="~/Spice/css/magiczoomplus.css" />
    <!-- global styles -->
    <link href="~/themes/css/flexslider.css" rel="stylesheet" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link href="~/lib/datetimepicker/jqueryui.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
        <link href="~/css/my-slider-1.0.0.css" rel="stylesheet" />


    </environment>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <environment names="Development">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="~/bootstrap-4.3.1/datapicker/bootstrap-datepicker.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
 

     
    <style>.menu-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    list-style: none;
}

    .menu-3 li {
        width: 105px;
        height: 50px;
        transition: background-position-x 0.6s linear;
        text-align: center;
    }

        .menu-3 li a {
            color: #212121;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.45s;
        }

        .menu-3 li:hover {
            background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
            -webkit-animation: line 1s;
            animation: line 1s;
        }

            .menu-3 li:hover a {
                color: #d94f5c;
            }

        .menu-3 li:not(:last-child) {
            margin-right: 30px;
        }

 
</style>


    <script>
                                //$(document).ready(function () {
                                //    function DisableBackButton() {
                                //        window.history.forward()
                                //    }
                                //    DisableBackButton();
                                //    window.onload = DisableBackButton;
                                //    window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
                                //    window.onunload = function () { void (0) }
                                //});
    </script>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header class="m-0 p-0" role="banner">
        <nav class="style-3" style="margin-bottom: auto; margin-bottom: 1%;  border-bottom: 10px; background-color: #a3c1e6; padding-bottom: 10px; ">

            <ul class="menu-3">
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Customer" asp-action="Dashboard" class="nav-link "> Dashboard   </a>

                </li>
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Booking" asp-action="BookingVenue" class="nav-link  ">Book Event</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="ShowAllBooking" asp-action="AllBookings" class="nav-link  ">Booking Status</a>
                </li>
                <li class="nav-item active">
                    <a asp-area="" asp-controller="BookingTour" asp-action="Index" class="nav-link  ">Book Tour</a>
                </li>
                <li class="nav-item active">
                    <a asp-area="" asp-controller="BookHall" asp-action="Index" class="nav-link  ">Book Hall</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="DBook" asp-action="Index" class="nav-link  ">Book Drwery</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Customer" asp-action="ChangePassword" class="nav-link  ">Change Password</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Customer" asp-action="ChatBot" class="nav-link  ">Support</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="UserProfile" asp-action="Profile" class="nav-link  ">Profile</a>
                </li>


                <li class="nav-item">
                    <a asp-area="" asp-controller="Login" asp-action="Logout" class="nav-link  ">LogOut</a>
                </li>
            </ul>
        </nav>

    </header>
    <div>

        @RenderBody()


    </div>
    <style>
        .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@@media (max-width: 567em) {
    body {
      margin-bottom: 700px;
    }
    .footer {
      height: 700px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

        footer .form-control {
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
            border: none;
            resize: none;
            color: #d1d2d2;
            padding: 0.7em 1em;
        }
    </style>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h5><i class="fa fa-road"></i> ACME CO INC.</h5>
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-unstyled">
                                <li><a href="">Product</a></li>
                                <li><a href="">Benefits</a></li>
                                <li><a href="">Partners</a></li>
                                <li><a href="">Team</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-unstyled">
                                <li><a href="">Documentation</a></li>
                                <li><a href="">Support</a></li>
                                <li><a href="">Legal Terms</a></li>
                                <li><a href="">About</a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                        <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                    </ul>
                    <br>
                </div>
                <div class="col-md-2">
                    <h5 class="text-md-right">Contact Us</h5>
                    <hr>
                </div>
                <div class="col-md-5">
                    <form>
                        <fieldset class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                        </fieldset>
                        <fieldset class="form-group text-xs-right">
                            <button type="button" class="btn btn-secondary-outline btn-lg">Send</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </footer>


    <environment names="Development">

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="~/js/my-slider-1.0.0.js"></script>
        <script src="~/lib/datetimepicker/jqueryui.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)


    <link href="~/lib/dataTablesScripts/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/dataTablesScripts/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/dataTablesScripts/jquery.dataTables.min.js"></script>
    <script src="~/lib/dataTablesScripts/dataTables.bootstrap4.min.js"></script>
</body>

</html>
